@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --common-white: #fff;
  --common-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
}

body {
  background: var(--common-white);
  color: var(--common-black);
  font-family: "Inter", sans-serif;
}
